h1{
    text-align: center;
    font-size: 80px;
    margin-top: 40px;
}

main
{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img{
    width: 800px;
    height: 645px;
    border-radius: 20px;
    margin-top: 5rem;
}

h2{
    color: black;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;

}

.tab1{
   border: 2px solid black;
   text-align: center;
   width: 500px;
   height: 400px;
   padding: 120px;
   border-radius: 10px;
   background-color: white; 
   margin-top: 5rem;
  
    
}

.form{
    border-radius: 5px;
    margin: 10px;
    width: 500px;
    height: 50px;
}


.enviar{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
}

.enviar:hover{
    background-color: var(--violet-dark);
    color: white;
}

