@import url('CardFlip.css');/*linkando a estilização das card*/
@import url('header.css');/*linkando a estilização do header*/
@import url('/Index.Lading/CSS/footer.css');/*linkando a estilização do footer*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --text: #EDF1F7;
    --red: #c50e0e;
    --blue: #0041C2;
    --green: #14B02D;
    --yellow: #ffc12b;
    --violet: #9900ff;
    --violet-dark: #480079;
    --black: #000;
    --black-two: #00000000;
  }
  
  body{
    background: rgb(32,0,73);
    background: linear-gradient(0deg, rgba(32,0,73,1) 0%, rgba(0,0,0,1) 100%);
  }

  body, button, a {
    color: var(--text);
    font: 400 1rem "Mukta", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  button:hover {
    cursor: pointer;
  }

  #app{/*configurando os app*/
    display: flex;
    flex-direction: column;
    align-items: center;/*itens no centro*/

    width: 100%;/*largura 100%*/
    height: 50vh;/*altura 100%*/
  }