footer {
    background-color: rgb(32, 0, 73);
    color: var(--text);
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 5rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
    text-align: justify;
}

.sob{
    margin-left: 10pc;
}

.p1{
    border: 2px solid rgb(32, 0, 73);
    width: 500px;
}

.footer-section h2 {
    color: var(--violet);
}

.footer-section p, .footer-section ul, .footer-section a {
    margin: 10px 0;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--text);
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .socials {
    display: flex;
    gap: 10px;
}

.footer-section .socials a {
    text-decoration: none;
    color: var(--text);
    background-color: #f7cccc;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer-section .socials a:hover {
    background-color: blueviolet;
}

img{
    width: 30px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: var(--black);
    color: white;
}